# AIM: split the dataframes into proleptic and sylleptic & modify proleptic
- data=shoots found in 2021 (Deruta)
- Phd=Francesca Grisafi

The original dataset, sampled in *January 2020* in *Deruta, Italy* was not suitable for the analysis needed to create an FSPM.

Read the datasets created in the **modify dataset** series of scripts

In [117]:
import pandas as pd

### bud level

In [121]:
bud = pd.read_csv("../../Data/bud.csv")
bud_proleptic = pd.read_csv("../../Data/bud_proleptic.csv")
bud_sylleptic = pd.read_csv("../../Data/bud_sylleptic.csv")


bud.head()

,tesi,unit,length,unit_2,diam,class,shoot_ID,tree,Length(node),rank_node,...,length_newshoots,nb_nodes_new,c_new,v_new,m_new,cic_new,cl_new,nu_new,b_new,tot_buds_m+v+b+c
0,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,3,...,Sh,4.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0
3,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,4,...,Sh,4.0,0.0,3.0,0.0,1.0,0.0,0.0,1.0,4.0

## JUST M AND V BUDS

In [123]:
MV_bud_PRO = pd.read_csv("../../Data/MV_bud_pro.csv")
MV_bud_SYL = pd.read_csv("../../Data/MV_bud_syl.csv")

MV_bud_PRO.head()

,tesi,unit,length,unit_2,diam,class,shoot_ID,tree,Length(node),rank_node,...,c_new,v_new,m_new,cic_new,cl_new,nu_new,b_new,tot_buds_m+v+b+c,norm_median_distance,siblings_mvb
0,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.5,0
1,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,3,...,2.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,-0.3,0
2,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,8,...,0.0,3.0,0.0,1.0,0.0,0.0,1.0,4.0,0.1,0
3,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,9,...,0.0,3.0,0.0,1.0,0.0,0.0,1.0,4.0,0.2,0
4,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,10,...,0.0,2.0,0.0,1.0,0.0,0.0,2.0,4.0,0.2,0

In [124]:
MV_bud_SYL.head()

,tesi,unit,parent_length_cm,unit_2,diam,class,shoot_ID,tree,parent_length_node,parent_rank_node,...,length_newshoots,nb_nodes_new,c_new,v_new,m_new,cic_new,cl_new,nu_new,b_new,tot_buds_m+v+b+c
0,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,4,...,Sh,4.0,0.0,3.0,0.0,1.0,0.0,0.0,1.0,4.0
1,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,5,...,Sh,3.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0
3,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,6,...,Sh,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0
4,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,6,...,Sh,4.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,4.0

### metamer level

In [125]:
met = pd.read_csv("../../Data/met_proleptic.csv")
met_proleptic = pd.read_csv("../../Data/met_proleptic.csv")  # This seems to be a duplicate
met_sylleptic = pd.read_csv("../../Data/met_sylleptic.csv")
met_all_proleptic = pd.read_csv("../../Data/all_met_proleptic.csv")
met_all_sylleptic = pd.read_csv("../../Data/all_met_sylleptic.csv")

met.head()

,tesi,unit,length,unit_2,diam,class,shoot_ID,tree,Length(node),rank_node,...,b,tot_buds_mvb,tot_buds_mv,shoot_type,nb_new_shoots,c_syl,v_syl,m_syl,tot_buds_syl_m_v,tot_buds_m_v_b_c
0,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,1,...,0,1,1,PROLEPTIC,0,NaN,NaN,NaN,NaN,1
1,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,2,...,1,1,0,PROLEPTIC,0,NaN,NaN,NaN,NaN,1
2,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,3,...,0,1,1,PROLEPTIC,1,NaN,NaN,NaN,NaN,1
3,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,4,...,0,0,0,SYLLEPTIC,1,1.0,0.0,2.0,2.0,3
4,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,5,...,0,0,0,SYLLEPTIC,1,1.0,1.0,0.0,1.0,2

### shoot level

In [126]:
shoot = pd.read_csv("../../Data/shoot.csv")

In [127]:
shoot.head()

,id,tesi,unit,length,unit_2,diam,class,shoot_ID,tree,node,c,v,m,cl,nu,b,tot_buds_m+v+b+c,found_next_year,buds_in_sylleptic
0,121,AUTOR,cm,42.0,mm,6.37,VLo,1,8,13,4,7,11,3,9,1,23,YES,16
1,122,AUTOR,cm,40.0,mm,6.22,Lo,2,8,14,4,13,10,6,20,0,27,YES,22
2,123,AUTOR,cm,9.0,mm,3.70,Me,3,8,6,0,5,3,2,6,0,8,YES,0
3,124,AUTOR,cm,48.0,mm,7.43,VLo,4,8,17,0,17,2,2,10,0,19,YES,0
4,125,AUTOR,cm,41.0,mm,7.17,VLo,5,8,17,5,16,12,7,19,0,33,YES,24